<a href="https://colab.research.google.com/github/murpunk/Programming_2023/blob/main/22_05_23_Ridge_8_lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. Список литературы

1. Андреас Мюллер, Сара Гвидо Введение в машинное обучение с помощью Python. Руководство для специалистов по работе с данными. 393 с. С. 64-71, 156-185.

2. Рашка Себастьян, Мирджалили Вахид Python и машинное обучение: машинное и глубокое обучение с использованием Python, scikit-learn и TensorFlow 2, 3-е изд.: Пер. с англ. СПб. : ООО "Диалектика", 2020. 848 с. С. 185-232.

3. Жерон, Орельен. Прикладное машинное обучение с помощью Scikit-Learn и TensorFlow: концепции, инструменты и техники для создания интеллектуальных систем. Пер. с англ. СпБ.: ООО Альфа-книга: 2018. 688 с. С. 179-187.

4. К.В. Воронцов Математические методы обучения по прецедентам (теория обучения машин).

5. Машинное обучение (курс лекций, К.В.Воронцов): Многомерная линейная регрессия Машинное обучение (курс лекций, К.В.Воронцов) (machinelearning.ru) (“Многомерная линейная регрессия. Метод главных компонент”: https://www.youtube.com/watch?v=tCE_vnPoU44)


6. Крис Элбон Машинное обучение с использованием Python. Сборник рецептов. Пер. с англ. СПб. : БХВ-Петербург, 2019. 384 с.

# I. Прочитать предложенные источники про метод главных компонент (сингулярное разложение)

# II.  Выполните задание из файла statement-linreg.pdf

### 1. Загрузите данные об описаниях вакансий и соответствующих годовых зарплатах из файла salary-train.csv

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
import numpy as np

In [41]:
df_train = pd.read_csv("/content/drive/MyDrive/Программирование/salary-train.csv", engine='python')
df_train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105
0,International Sales Manager London ****k ****...,London,permanent,33000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,An ideal opportunity for an individual that ha...,London,permanent,50000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2.  Проведите предобработку

Приведите тексты к нижнему регистру

In [42]:
df_train["LocationNormalized"] = df_train["LocationNormalized"].str.lower()

In [43]:
df_train["FullDescription"] = df_train["FullDescription"].str.lower()

### 2.  Замените все, кроме букв и цифр, на пробелы — это облегчит дальнейшее разделение текста на слова

In [29]:
import re

In [44]:
df_train["FullDescription"].replace("[^a-zA-Z0-9]", " ", regex = True,inplace=True)
# re.sub("[^a-zA-Z0-9]", " ", df["FullDescription"])

In [45]:
df_train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105
0,international sales manager london k ...,london,permanent,33000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,an ideal opportunity for an individual that ha...,london,permanent,50000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,online content and brand manager luxury reta...,south east london,permanent,40000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,a great local marketleader is seeking a perman...,dereham,permanent,22500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,registered nurse rgn nursing home for young...,sutton coldfield,NaN,20355,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Примените TfidfVectorizer для преобразования текстов в векторы признаков. Оставьте только те слова, которые встречаются хотя бы в 5 объектах (параметр min_df у TfidfVectorizer).

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from scipy.sparse import hstack
from sklearn.linear_model import Ridge

In [69]:
vect = TfidfVectorizer(min_df=5)
fullDesc_train=vect.fit_transform(df_train["FullDescription"])

Замените пропуски в столбцах LocationNormalized и ContractTime на специальную строку ’nan’.

In [60]:
df_train["LocationNormalized"].fillna('nan', inplace=True)
df_train["ContractTime"].fillna('nan', inplace=True)
# df_train = df_train.fillna('nan')

Примените DictVectorizer для получения one-hot-кодирования
признаков LocationNormalized и ContractTime.

In [55]:
enc = DictVectorizer()
train_tags = enc.fit_transform(df_train[["LocationNormalized", "ContractTime"]].to_dict("records"))

Объедините все полученные признаки в одну матрицу "объекты-признаки". Обратите внимание, что матрицы для текстов и категориальных признаков являются разреженными. Для объединения их столбцов нужно воспользоваться функцией scipy.sparse.hstack.

In [56]:
objects_tags = hstack([fullDesc_train,train_tags])

### 3.  Обучите гребневую регрессию с параметром alpha=1. Целевая переменная записана в столбце SalaryNormalized.

In [59]:
clf = Ridge(alpha=1.0,random_state=241)
clf.fit(objects_tags, df_train["SalaryNormalized"])

ValueError: ignored

### 4.  Постройте прогнозы для двух примеров из файла salary-test-mini.csv. Значения полученных прогнозов являются ответом на задание. Укажите их через пробел.

In [61]:
df_test=pd.read_csv("/content/drive/MyDrive/Программирование/salary-test-mini.csv", engine="python")

In [64]:
df_test["LocationNormalized"] = df_test["LocationNormalized"].str.lower()

In [65]:
df_test["FullDescription"] = df_test["FullDescription"].str.lower()

In [66]:
df_test["FullDescription"].replace("[^a-zA-Z0-9]", " ", regex = True,inplace=True)

In [72]:
fullDesc_test = vect.fit(df_test["FullDescription"])

ValueError: ignored

In [71]:
fullDesc_test = vect.transform(df_test["FullDescription"])

NotFittedError: ignored

# III.  Выполните задание из файла statement-pca.pdf

### 1.  Загрузите данные close_prices.csv

В этом файле приведены цены акций 30 компаний на закрытии торгов за каждый день периода.

In [74]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from numpy import corrcoef

In [73]:
close_prices = pd.read_csv("/content/drive/MyDrive/Программирование/close_prices.csv", engine='python')
close_prices.head()

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

### 2. На загруженных данных обучите преобразование PCA с числом компоненты равным 10. Скольких компонент хватит, чтобы объяснить 90% дисперсии?

In [77]:
pca = PCA(n_components=10)
pca_result = pca.fit(close_prices.iloc[:,1:31])

In [79]:
variance_ratio = pca_result.explained_variance_ratio_ # содержит процент дисперсии, который объясняет каждая компонента
components = pca_result.components_ # информация о том, какой вклад вносят признаки в компоненты

In [80]:
component_number = 1
while sum(variance_ratio[:component_number])<0.9:
    component_number += 1

In [82]:
print(f"Чтобы объяснить 90% дисперсии, хватит {component_number} компоненты.")

Чтобы объяснить 90% дисперсии, хватит 4 компоненты.

### 3.  Примените построенное преобразование к исходным данным и возьмите значения первой компоненты.

In [83]:
result = pca.transform(close_prices.iloc[:,1:31])
first_component = result[:, 0]

In [ ]:
first_component

### 4. Загрузите информацию об индексе Доу-Джонса из файла djia_prices.csv. Чему равна корреляция Пирсона между первой компонентой и индексом Доу-Джонса?