<a href="https://colab.research.google.com/github/murpunk/Programming_2023/blob/main/27_03_23_k_neighbours.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Прочитайте пункт “Метод k ближайших соседей” и рекомендованную литературу к нему и ответьте на вопросы

### 0) Список литературы

[1] Рашка Себастьян, Мирджалили Вахид. Python и машинное обучение: машинное и глубокое обучение с использованием Python, scikit-learn и TensorFlow 2, 3-е изд.: Пер. с англ. СПб. : ООО "Диалектика", 2020. 848 с.


[2] Андреас Мюллер, Сара Гвидо. Введение в машинное обучение с помощью 
Python. Руководство для специалистов по работе с данными. 393 с.


[3] Крис Элбон. Машинное обучение с использованием Python. Сборник рецептов. Пер. с англ. СПб. : БХВ-Петербург, 2019. 384 с.


[4] Машинное обучение (курс лекций, К.В.Воронцов): Метод ближайших соседей (machinelearning.ru), (запись лекции “Метрические методы классификации и регрессии”: https://www.youtube.com/watch?v=GyOxB2itxnc)

Про метод k ближайших соседей подробней см. в [1, стр. 139–143], [2, стр. 50–59] [3, стр. 271–278], [4]. (документация:
*  https://scikit-learn.org/stable/modules/neighbors.html
*  sklearn.neighbors.KNeighborsClassifier — scikit-learn 1.1.3 documentation
*  sklearn.neighbors.KNeighborsRegressor — scikit-learn 1.1.3 documentation)

### 1) Как определяется класс нового объекта точки в методе k ближайших соседей?



1.   Сначала назначаются число k и как измеряем расстояние.
2.   Находятся k соседей образца, который нужно классифицировать.
3.   Назначаем класс образцу по наиболее часто встречающемуся классу соседей.

### 2) Какие параметры можно задавать в методе?

*  Число k -- количество ближайших соседей, которые определяют целевую класс целевой точки. По умолчанию используется k, равное от 3 до 5;
*  то, как измеряем расстояние. По умолчанию используется евклидово расстояние;
*  можно задавать количество ядер компьютера для вычислений.

### 3) Зачем делается приведение признаков к одному масштабу?

Если один признак будет доминирующим, то есть на порядки превосходящим другие признаки, то остальные признаки перестают влиять. А нужно сделать признаки сравнимыми между собой. Приведение признаков к одному масштабу делается с помощью функции sklearn.preprocessing.scale.

### 4) Какие преимущества и недостатки метода?

**Преимущества**:
*  классификатор адаптируется по мере накопления данных;
*  модель легко интерпретировать;
*  модель даёт приемлемое качество.


**Недостатки**:
*  вычислительная сложность растёт линейно с увеличением количества образцов в обучающей выборке (обучение занимает много времени, если обучающая выборка большая);
*  модель восприимчива к переобучению, если в наборе много разреженных данных (ближайшие соседи находятся слишком далеко друг от друга, чтобы дать хорошую оценку).

### 5) Что такое кросс-валидация?

Кросс-валидация, или перекрёстная проверка, используется вместо простого разбиения данных на выборки train и test. Данные разбиваются на несколько частей. И после этого каждая из этих частей по очереди выступает в роли тестовой, а все остальные части – в качестве обучающих. Качество модели оценивается на основе среднего значения качества для всех таких разбиений. Таким образом, все данные участвуют в обучении и метод запускается несколько раз для разных выборок. Кросс-валидация даёт более точную оценку качества метода, чем простое разбиение на обучающий и тестовый наборы.

Как правило, разбивают на 5 или 10 наборов.

# II. Выполните задание из файла 3 statement_neighbours.pdf

### 1. Загрузите выборку Wine

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
path_to_data = 'drive/My Drive/Программирование/'

In [ ]:
wine = pd.read_csv(path_to_data + "wine.data", sep=",", header = None)
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.600,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,1,13.20,1.78,2.14,11.200,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,1,13.16,2.36,2.67,18.600,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,1,14.37,1.95,2.50,16.800,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,1,13.24,2.59,2.87,21.118,2.8,2.69,0.39,1.82,4.32,1.04,2.93,735.00,NaN

In [ ]:
wine.shape

(178, 14)

Названия признаков:
1.  Alcohol
2. Malic acid
3. Ash
4. Alcalinity of ash
5. Magnesium
6. Total phenols
7. Flavanoids
8. Nonflavanoid phenols
9. Proanthocyanins
10. Color intensity
11. Hue
12. OD280/OD315 of diluted wines
13. Proline

In [ ]:
wine.columns = ["Class", 'Alcohol', 'Malic acid', "Ash", "Alcalinity of ash", "Magnesium", "Total phenols", "Flavanoids", "Nonflavanoid phenols", "Proanthocyanins", "Color intensity", "Hue", "OD280/OD315 of diluted wines", "Proline"]

In [ ]:
wine.head()

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.600,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,1,13.20,1.78,2.14,11.200,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,1,13.16,2.36,2.67,18.600,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,1,14.37,1.95,2.50,16.800,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,1,13.24,2.59,2.87,21.118,2.8,2.69,0.39,1.82,4.32,1.04,2.93,735.00,NaN

In [ ]:
wine_no_nan = wine.dropna() # удалили строки с nan, потому что иначе классификатор не строился
wine_no_nan.shape

(177, 14)

### 2. Извлеките из данных признаки и классы. Класс записан в первом столбце (три варианта), признаки — в столбцах со второго по последний. Более подробно о сути признаков можно прочитать по адресу https://archive.ics.uci.edu/ml/datasets/Wine (см. также файл wine.names, приложенный к заданию)

In [ ]:
wine_no_nan["Class"].unique() # посмотрели, какие уникальные значения хранятся в столбце Class

array([1, 2, 3])

In [ ]:
X = wine_no_nan.iloc[:,1:] # выделяем признаки, строки берут все, а столбцы с первого до конца
y = wine_no_nan["Class"] # выделяем класс

In [ ]:
X.head() # посмотрели на признаки

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
5,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450.0

In [ ]:
y.head()

0    1
1    1
2    1
3    1
5    1
Name: Class, dtype: int64

### 3.  Оценку качества необходимо провести методом кросс-валидации по 5 блокам (5-fold). Создайте генератор разбиений, который перемешивает выборку перед формированием блоков (shuffle=True). Для воспроизводимости результата создавайте генератор KFold с фиксированным параметром random_state=42. В качестве меры качества используйте долю верных ответов (accuracy).

In [ ]:
from sklearn.neighbors import KNeighborsClassifier # импортируем классификатор из библиотеки
from sklearn.model_selection import KFold # генератор разбиений KFold
from sklearn.model_selection import cross_val_score # Вычисляет оценку при кросс-валидации
from sklearn.preprocessing import scale # масштабирование признаков для задания 5

In [ ]:
splitted = KFold(n_splits = 5, shuffle=True, random_state = 42) # запускается генератор разбиений на пяти блоках

### 4. Найдите точность классификации на кросс-валидации для метода k ближайших соседей (sklearn.neighbors.KNeighborsClassifier), при k от 1 до 50. При каком k получилось оптимальное качество? Чему оно равно (число в интервале от 0 до 1)? Данные результаты и будут ответами на вопросы 1 и 2. В качестве меры качества используйте долю верных ответов (accuracy).

In [ ]:
accuracy = []
for i in range(1, 51):
  neigh = KNeighborsClassifier(n_neighbors= i)
  accuracy_i = cross_val_score(neigh, X, y, cv=splitted, scoring='accuracy')
  
  accuracy.append(accuracy_i.mean()) # добавляем среднее значение cross_val_score из пяти
  
best_accuracy = max(accuracy)
best_k = accuracy.index(best_accuracy) # нашла индекс лучшего k
best_accuracy, best_k + 1 # находим лучшую accuracy и количество k соседей

(0.740952380952381, 1)

### 5. Произведите масштабирование признаков с помощью функции sklearn.preprocessing.scale. Снова найдите оптимальное k на кросс-валидации.

In [ ]:
X_scale = scale(X) # масштабирование признаков X с помощью sklearn.preprocessing.scale

In [ ]:
accuracy_scale = []
for i in range(1, 51):
  neigh = KNeighborsClassifier(n_neighbors= i)
  accuracy_i = cross_val_score(neigh, X_scale, y, cv=splitted, scoring='accuracy')
  
  accuracy_scale.append(accuracy_i.mean()) # добавляем среднее значение cross_val_score из пяти
  
best_accuracy = max(accuracy_scale)
best_k = accuracy_scale.index(best_accuracy) # нашла индекс лучшего k
best_accuracy, best_k + 1

(0.9774603174603176, 15)

### 6. Какое значение k получилось оптимальным после приведения признаков к одному масштабу? Как изменилось значение качества? Приведите ответы на вопросы 3 и 4.

In [ ]:
best_k = best_k + 1
best_k

15

# III. Выполните задание из в файла 4 statement-metric-tuning.pdf

### 1. Загрузите выборку Boston с помощью функции sklearn.datasets.load_boston(). Результатом вызова данной функции является объект, у которого признаки записаны в поле data, а целевой вектор — в поле target.

In [ ]:
import pandas as pd
import numpy as np

data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]

### 2. Приведите признаки в выборке к одному масштабу при помощи функции sklearn.preprocessing.scale.

In [ ]:
data_scale = scale(data)

### 3. Переберите разные варианты параметра метрики p по сетке от 1 до 10 с таким шагом, чтобы всего было протестировано 200 вариантов (используйте функцию numpy.linspace). Используйте KNeighborsRegressor с n_neighbors=5 и weights=’distance’ — данный параметр добавляет в алгоритм веса, зависящие от расстояния до ближайших соседей. В качестве метрики качества используйте среднеквадратичную ошибку (параметр scoring=’mean_squared_error’ у cross_val_score; при использовании библиотеки scikit-learn версии 18.0.1 и выше необходимо указывать scoring=’neg_mean_squared_error’). Качество оценивайте, как и в предыдущем задании, с помощью кросс-валидации по 5 блокам с random_state = 42, не забудьте включить перемешивание выборки (shuffle=True).

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
splitted = KFold(n_splits=5, random_state=42, shuffle=True) # разделение кросс-валидацией на 5 блоков

In [ ]:
knr = KNeighborsRegressor(n_neighbors=5, weights='distance')
score = cross_val_score(knr, data_scale, target, cv=splitted,  scoring='neg_mean_squared_error')

In [ ]:
best_score = -10000
best_p = 0
for i in np.linspace(1, 10, 200, endpoint=True):
  knr = KNeighborsRegressor(n_neighbors=5, weights='distance', p=i)
  score = cross_val_score(knr, data_scale, target, cv=splitted,  scoring='neg_mean_squared_error').mean()
  if score > best_score:
    best_score = score
    best_p = i

### 4.  Определите, при каком p качество на кросс-валидации оказалось оптимальным. Обратите внимание, что cross_val_score возвращает массив показателей качества по блокам; необходимо максимизировать среднее этих показателей. Это значение параметра и будет ответом на задачу.

In [ ]:
print(f"Лучшее качество: {best_score}, лучший параметр метрики p: {best_p}.")

Лучшее качество: -16.030646734221644, лучший параметр метрики p: 1.0.