<a href="https://colab.research.google.com/github/murpunk/Programming_2023/blob/main/ML_Trees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Прочитайте пункт “I. Постановка задачи обучения по прецедентам” (и/или рекомендованную литературу к нему) и ответьте на вопросы

### 0) Литература:
[1] К.В.Воронцов. Математические  методы  обучения по прецедентам  (теория обучения машин). 141 с. (Voron-ML-1.pdf)<br>[2] Машинное обучение (курс лекций, К.В.Воронцов) (machinelearning.ru) пункт 2.1 [Основные  понятия  и  примеры  прикладных  задач](http://www.machinelearning.ru/wiki/images/f/fc/Voron-ML-Intro-slides.pdf) (запись  лекции: https://www.youtube.com/watch?v=xccjt6lOoow)

### 1) Что такое объекты, признаки, ответы? Приведите пример.

**Объекты** -- это множество однотипных сущностей, для которых важно сделать предсказание. Можно также сказать, что объекты -- это всё, что имеет свои признаки. Примеры объектов: бутылки с вином, посетители в больнице или позиции на шахматной доске.


**Признак** (features) характеризуют объект. Признаки могут быть:
*   числовые (вес, рост, яркость пикселя);
*   бинарные (женщина/мужчина, живой/мёртвый);
*   упорядоченные нечисловые (маленький/большой/огромный);
*   качественные нечисловые (красный/синий/зелёный).


**Ответы** -- это то, что ставится в соответствие каждому объекту, это признак, который мы хотим предсказать. Ответы могут быть:
*   бинарные (больной/здоровый);
*   непересекающиеся классы (грузинское/испанское/аргентинское);
*   пересекающиеся классы (цвет пикселя).

### 2) Какие данные содержатся в матрице «объектов–признаков» (feature data)?

**Матрица «объектов-признаков»**, или матрица информации, или матрица исходных данных, -- совокупность признаковых описаний всех объектов обучающей выборки.

### 3) Что такое модель алгоритмов и метод обучения?

**Модель алгоритмов** (predictive model) -- функция вида $x \to y$, которые пытаются уловить зависимость между признаковым описанием объекта (набором признаков) и ответом.


**Метод обучения** (learning algorithm) совершает подбор параметров в модели алгоритмов.

### 4) Какие два этапа можно выделить в задачах обучения?

В задаче обучения с учителем можно выделить два этапа:

1.   этап обучения (train), на котором строится алгоритм;
2.   этап применения, или предсказания (test), на котором выдаются предсказания (ответы) для новых объектов.

### 5) Что такое переобучение? Как с ним бороться?

**Переобучение** (overtraining, overfitting) -- слишком сложная функция, которая хорошо работает на обучающей выборке, но плохо предсказывает на новых данных. То есть она не выделяет общую закономерность.


С переобучением можно бороться так: делить выборку на две части, то есть обучаться на одном наборе данных, а проверять на другом. Также можно наложить ограничения на параметры и выбирать модель по обобщающей способности.

# II. Прочитайте пункт “II. Метод решающих деревьев” и рекомендованную литературу к нему и ответьте на вопросы

### 1) Как строится решающее дерево?

Дерево решений представляет собой иерархическую древовидную структуру, состоящую из правила вида «Если …, то ...». За счет обучающего множества правила генерируются автоматически в процессе обучения.

В обучающем множестве для примеров должно быть задано целевое значение, так как деревья решений — модели, создаваемые на основе обучения с учителем.

### 2) Какие критерии разбиения используются при построении деревьев?

При формировании правила для разбиения в очередном узле дерева необходимо выбрать атрибут, по которому это будет сделано. Общее правило для этого можно сформулировать следующим образом: выбранный атрибут должен разбить множество наблюдений в узле так, чтобы результирующие подмножества содержали примеры с одинаковыми метками класса, или были максимально приближены к этому, т.е. количество объектов из других классов («примесей») в каждом из этих множеств было как можно меньше.

### 3) Какие преимущества и недостатки метода?

**Преимущества** метода:
*  быстрый процесс обучения;
*  генерация правил в областях, где эксперту трудно формализовать свои знания;
*  извлечение правил на естественном языке;
*  интуитивно понятная классификационная модель;
*  высокая точность предсказания, сопоставимая с другими методами анализа данных (статистика, нейронные сети).


**Недостатки**:
*  деревья решений чувствительны к шумам во входных данных. Небольшие изменения обучающей выборки могут привести к глобальным корректировкам модели, что скажется на смене правил классификации и интерпретируемости модели;
*  разделяющая граница имеет определенные ограничения, из-за чего дерево решений по качеству классификации уступает другим методам;
*  возможно переобучение дерева решений, из-за чего приходится прибегать к методу «отсечения ветвей», установке минимального числа элементов в листьях дерева или максимальной глубины дерева;
*  сложный поиск оптимального дерева решений.

# III. Выполните задание из файла 2_statement-importance.pdf

### 1. Загрузите выборку из файла titanic.csv с помощью пакета Pandas

In [12]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
df = pd.read_csv("drive/My Drive/Программирование/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 2. Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).

In [72]:
df_titanic = df[["Pclass", "Fare", "Age", "Sex", "Survived"]]
df_titanic.head()

    Pclass     Fare   Age     Sex  Survived
1        1  71.2833  38.0  female         1
3        1  53.1000  35.0  female         1
6        1  51.8625  54.0    male         0
10       3  16.7000   4.0  female         1
11       1  26.5500  58.0  female         1

### 3. Обратите внимание, что признак Sex имеет строковые значения.

In [73]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 1 to 889
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    183 non-null    int64
 1   Fare      183 non-null    float64
 2   Age       183 non-null    float64
 3   Sex       183 non-null    object
 4   Survived  183 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 8.6+ KB

In [74]:
df_titanic = df_titanic.replace(["male", "female"], [1, 0])
df_titanic.head()

    Pclass     Fare   Age  Sex  Survived
1        1  71.2833  38.0    0         1
3        1  53.1000  35.0    0         1
6        1  51.8625  54.0    1         0
10       3  16.7000   4.0    0         1
11       1  26.5500  58.0    0         1

### 4. Выделите целевую переменную -- она записана в столбце Survived.

In [56]:
df_titanic.head()

   Pclass     Fare   Age  Sex
0       3   7.2500  22.0    1
1       1  71.2833  38.0    0
2       3   7.9250  26.0    0
3       1  53.1000  35.0    0
4       3   8.0500  35.0    1

In [76]:
x=df_titanic[["Pclass", "Fare", "Age", "Sex"]]
y=df_titanic["Survived"]

In [77]:
x.head()

    Pclass     Fare   Age  Sex
1        1  71.2833  38.0    0
3        1  53.1000  35.0    0
6        1  51.8625  54.0    1
10       3  16.7000   4.0    0
11       1  26.5500  58.0    0

In [78]:
y.head()

1     1
3     1
6     0
10    1
11    1
Name: Survived, dtype: int64

### 5. В данных есть пропущенные значения, например, для некоторых пассажиров неизвестен их возраст. Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.

In [75]:
df_titanic = df_titanic.dropna()
df = df.dropna()

### 6. Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию.

In [79]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(x, y)

DecisionTreeClassifier(random_state=241)

### 7. Вычислите важности признаков и найдите два признака с наибольшей важностью. Их названия будут ответами для данной задачи (в качестве ответа укажите названия признаков через запятую без пробелов).

In [80]:
importances = clf.feature_importances_

In [88]:
importances

array([0.01793336, 0.2834689 , 0.29549222, 0.40310552])

In [52]:
df_titanic.head()

   Pclass     Fare   Age  Sex  Survived
0       3   7.2500  22.0    1         0
1       1  71.2833  38.0    0         1
2       3   7.9250  26.0    0         1
3       1  53.1000  35.0    0         1
4       3   8.0500  35.0    1         0